$body-bg: rgb(255, 255, 255);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body, #root {
    height: 100vh;
}

//Override bootstrap styles
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
    font-weight: bold;
}

.navbar {
    margin-bottom: 1.8rem;

    .nav-link {
        text-align: center;
        align-items: center;
        display: flex;
    }

    h1 {
        font-size: 1.35rem;
        margin-bottom: 0;
    }

    .subhead {
        font-size: 1rem;
    }
}

.centered-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h3 {
    margin-bottom: 1.5rem;
}

.card {
    margin-bottom: 1.8rem;
}
