$body-bg: rgb(255, 255, 255);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
    font-weight: bold;
}

.card {
    margin-bottom: 1.8rem;
}
